body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel_width{
    width:100%;
}

.imgBlock{
    height: 500px;
    width: 100%;
   
}
p{
    font-family: 'Langar', cursive;
    text-transform: uppercase;
    font-size: large;
}

.online-midea{
    display: flex;
    align-items: center;
    justify-content:center;
    

}

.online-midea a{
    margin: 10px;
    line-height: 3px;
}